@use '@angular/material' as mat;
@include mat.core();


$default: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette, 500),
    accent: mat.define-palette(mat.$indigo-palette, 300),
    warn: mat.define-palette(mat.$red-palette,800),
  ),

));

$theme-one: mat.define-light-theme((

  color: (
    primary: mat.define-palette(mat.$indigo-palette, 200),
    accent: mat.define-palette(mat.$indigo-palette, 800),
    warn: mat.define-palette(mat.$red-palette,800),
  ),

  )
);


$theme-two: mat.define-light-theme((

  color: (
    primary:  mat.define-palette(mat.$blue-grey-palette, 800),
    accent: mat.define-palette(mat.$blue-grey-palette, 400),
    warn: mat.define-palette(mat.$red-palette,800),
  ),

)
);


$theme-three: mat.define-light-theme((

  color: (
    primary: mat.define-palette(mat.$amber-palette, 800),
    accent: mat.define-palette(mat.$amber-palette, 400),
    warn: mat.define-palette(mat.$red-palette,800),
  ),

)
);

$theme-four: mat.define-light-theme((

  color: (
    primary: mat.define-palette(mat.$cyan-palette, 800),
    accent: mat.define-palette(mat.$cyan-palette, 400),
    warn: mat.define-palette(mat.$red-palette,800),
  ),

)
);

$theme-five: mat.define-light-theme((

  color: (
    primary: mat.define-palette(mat.$pink-palette, 800),
    accent: mat.define-palette(mat.$pink-palette, 400),
    warn: mat.define-palette(mat.$red-palette,800),
  ),

)
);


//@include mat.all-component-themes($default);


//default Flumblr theme: new users get this
.default {
  @include mat.all-component-colors($default);
  mat-card.mat-mdc-card {
    background-color: #F7FBFC !important;
  }

  mat-card-header.mat-mdc-card-header {
    background-color: #769FCD !important
  }

}

// indigo
.theme-one {
  @include mat.all-component-colors($theme-one);

  mat-card.mat-mdc-card {
    background-color: #DBE2EF !important;
  }

  mat-card-header.mat-mdc-card-header {
    background-color: #3F72AF !important
  }
}

// blue grey
.theme-two {
  @include mat.all-component-colors($theme-two);

  ::ng-deep #test {
    background-color: indigo !important;
  }

  mat-card.mat-mdc-card {
    background-color: #9BA4B5 !important;
  }

  mat-card-header.mat-mdc-card-header {
    background-color: #212A3E !important
  }
}

// amber scheme
.theme-three {
  @include mat.all-component-colors($theme-three);

  #test {
    background-color: crimson !important;
  }

  mat-card {
    background-color: #F29727 !important;
  }

  .mat-mdc-card-header {
    background-color: #E57C23 !important
  }
}

// cyan scheme
.theme-four {
  @include mat.all-component-colors($theme-four);

  #test {
    background-color: crimson !important;
  }

  mat-card.mat-mdc-card {
    background-color: #79E0EE !important;
  }

  mat-card-header.mat-mdc-card-header {
    background-color: #00C4FF !important
  }
}

.theme-five {
  @include mat.all-component-colors($theme-five);

  #test {
    background-color: crimson !important;
  }

  mat-card.mat-mdc-card {
    background-color: #F99B7D !important;
  }

  mat-card-header.mat-mdc-card-header {
    background-color: #E76161 !important
  }
}






