@use 'material/index' as mat;
@include mat.core();
/**
 * colors in hex
 * deep purple 500- #673AB7
 * pink 300- #F06292
 * source for picking colors https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
 */
//$light-theme: mat.define-light-theme(
//    (
//      //defining colors for components with primary, accent and warn colors
//      color: (
//        primary: mat.define-palette(mat.$cyan-palette,500),
//        accent: mat.define-palette(mat.$cyan-palette,300),
//        warn: mat.define-palette(mat.$red-palette,500)
//      ),
//      typography: mat.define-typography-config(),
//      density: 0,
//    )
//);
//
//$dark-theme: mat.define-dark-theme(
//    (
//      //defining colors for components with primary, accent and warn colors
//      color: (
//        primary: mat.define-palette(mat.$green-palette,300),
//        accent: mat.define-palette(mat.$green-palette,500),
//        warn: mat.define-palette(mat.$red-palette,300)
//      ),
//      typography: mat.define-typography-config(),
//      density: 0,
//    )
//);

$template1: mat.define-palette(
      (
      color:(
        primary: mat.define-palette(mat.$blue-palette,300),
        accent: mat.define-palette(mat.$blue-palette,500),
        warn: mat.define-palette(mat.$blue-palette,900)
      ),
        typography:mat.define-typography-config(),
        density:0,
      )
);
//.light-mode {
//  @include mat.all-component-themes($light-theme);
//}

.template1{
  @include mat.all-component-colors($template1)
}

//.dark-mode {
//  @include mat.all-component-colors($dark-theme);
//}
