@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-light-theme(
      (
        color: (
        primary: mat.define-palette(mat.$cyan-palette,400),
          accent: mat.define-palette(mat.$light-green-palette,A400)
        ),
        typography: mat.define-typography-config(),
        density: 0,
      )
);

$dark-theme: mat.define-dark-theme(
      (
        color: (
          primary: mat.define-palette(mat.$deep-purple-palette,400),
          accent: mat.define-palette(mat.$pink-palette,300)
        ),
        typography: mat.define-typography-config(),
        density: 0,
      )
);

@include mat.all-component-themes($light-theme);

.dark-mode{
  @include mat.all-component-colors($dark-theme)
}
