
@use '@angular/material' as mat;

@include mat.core();
/**
 * colors in hex
 * deep purple 500- #673AB7
 * pink 300- #F06292
 * source for picking colors https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
 */
$light-theme: mat.define-light-theme(
      (
        //defining colors for components with primary, accent and warn colors
        color: (
          primary: mat.define-palette(mat.$deep-purple-palette,500),
          accent: mat.define-palette(mat.$pink-palette,300),
          warn: mat.define-palette(mat.$deep-purple-palette,500)
        ),
        typography: mat.define-typography-config(),
        density: 0,
      )
);

$dark-theme: mat.define-dark-theme(
      (
        //defining colors for components with primary, accent and warn colors
        color: (
          primary: mat.define-palette(mat.$pink-palette,300),
          accent: mat.define-palette(mat.$deep-purple-palette,500),
          warn: mat.define-palette(mat.$pink-palette,300)
        ),
        typography: mat.define-typography-config(),
        density: 0,
      )
);

@include mat.all-component-themes($light-theme);
.templateOne{


}
.templateTwo{
  background-color: pink!important;
  color: white!important;
  mat-card{
    background-color: pink!important;
    color: white!important;
  }
}
.templateThree{
  background-color: red !important;
  color: black !important;

  mat-card {
    background-color: red !important;
    color: black !important;
  }
  .mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: black;
    --mdc-protected-button-label-text-color: #fff;
  }
}






.dark-mode {
  @include mat.all-component-colors($dark-theme);
  background-color: #3c4043 !important; //background color is set
  color: whitesmoke !important; //text-color is set

  //targets all form element, !important is necessary for changes to persist
  form {
    background-color: #3c4043 !important;
    color: whitesmoke !important;
  }

  mat-card {
    background-color: #3c4043 !important;
    color: whitesmoke !important;
  }

  //targets button with custom-button class in login and register
  .custom-button {

    color: whitesmoke !important;
  }

  [_nghost-ng-c2040221903] {
    background-color: #3c4043;
    color: whitesmoke;
    border: 2px dashed whitesmoke;
    border-radius: 5px;
  }


  .templateOne {


  }

  .templateTwo {
    background-color: pink !important;
    color: white !important;

    mat-card {
      background-color: pink !important;
      color: white !important;
    }
  }

  .templateThree {
    background-color: red !important;
    color: black !important;

    mat-card {
      background-color: red !important;
      color: black !important;
    }

    .mat-mdc-raised-button.mat-primary {
      --mdc-protected-button-container-color: black;
      --mdc-protected-button-label-text-color: #fff;
    }

  }
}

