<mat-toolbar *ngIf="isAuthenticated()" color="primary" class="mat-elevation-z12">
  <span><mat-icon>whatshot</mat-icon>Flumblr</span>

  <div class="spacer"></div>

  

  <app-notification-panel class="pr-2" *ngIf="!notificationHasChanged"></app-notification-panel>


  <button mat-button [matMenuTriggerFor]="user">
    <div class="valign-center">
      <div mat-card-avatar class="bg-cover" style="background-image: url({{profile.profileImg}});"></div>
          <mat-card-title>{{userName}}</mat-card-title>
      <!-- <span style="background-image: url({{profile.profileImg}});">{{userName}}</span> -->
      <i class="material-icons">arrow_drop_down</i>
    </div>
  </button>

  <mat-menu #user="matMenu" class="flex flex-col items-center">
    <a mat-menu-item class="" routerLink="/profile/{{userId}}">Profile</a>
    <a mat-menu-item class="" routerLink="/posts">Posts</a>
    <a *ngIf="role==='ADMIN'" mat-menu-item class="" routerLink="/reports">Reports</a>
    <span mat-menu-item class="items-center">Light/Dark: <app-theme-switcher></app-theme-switcher></span>

    <a (click)="logout()" *ngIf="isAuthenticated()" mat-menu-item class="" routerLink=" ">Logout</a>
  </mat-menu>

</mat-toolbar>