<mat-toolbar color="primary" class="mat-elevation-z12">
  <span><a (click)="routeToHome()"><mat-icon>whatshot</mat-icon>Flumblr</a></span>

  <div class="spacer"></div>

  <div *ngIf="isAuthenticated()">
    <h1 class="text-sm">Hello <a (click)="routeToProfile()">{{getUsername()}}</a></h1>
  </div>

  <app-theme-switcher></app-theme-switcher>

  <a mat-button routerLink="/posts">Posts</a>
  <a mat-button routerLink="/notifications">Notifications</a>
  <a mat-button routerLink="/profile/{{userId}}">Profile</a>
  <app-notification-panel class="pr-2" *ngIf="!notificationHasChanged && isAuthenticated()"></app-notification-panel>
  <a (click)="logout()" *ngIf="isAuthenticated()" mat-raised-button color="warn" routerLink=" ">Logout</a>

</mat-toolbar>
