<mat-toolbar color="primary" class="mat-elevation-z12">
  <span><mat-icon>whatshot</mat-icon>Flumblr</span>

  <div class="spacer"></div>

  <app-theme-switcher></app-theme-switcher>

  <a mat-button routerLink="/posts">Posts</a>
  <a mat-button routerLink="/notifications">Notifications</a>
  <a mat-button routerLink="/profile/{{userId}}">Profile</a>
  <app-notification-panel class="pr-2" 
    *ngIf="!notificationHasChanged && isAuthenticated()"></app-notification-panel>
  <a (click)="logout()" *ngIf="isAuthenticated()" mat-raised-button color="warn" routerLink=" ">Logout</a>

</mat-toolbar>
