::ng-deep #theme-one{
  background-color: #116A7B !important;

}


::ng-deep mat-tab-header.mat-mdc-tab-header {
  @apply sticky top-0 z-50 bg-purple-600;
}

::ng-deep #theme-two{
  background-color: #213555;
}

::ng-deep #theme-three{
  background-color: #F24C3D;
}


::ng-deep #theme-four{
  background-color: #ECF8F9;
}

::ng-deep #theme-five{
  background-color: #FF0060;
}




