<div [ngClass]="{'ease-in-out transition-all duration-500 opacity-0 -translate-x-full': post.animateDelete}">
  <mat-card class="bg-amber-50">
    <mat-card-header>
      <div class="flex justify-between w-full">

        <!-- Avatar and username -->
        <div class="flex gap-4 cursor-pointer" (click)="navigateToUser(post.userId)">

          <div mat-card-avatar class="bg-cover" style="background-image: url({{post.profileImg}});"></div>
          <mat-card-title>{{post.username}}</mat-card-title>
        </div>

        <!-- Options/Info (create date, edit date and follow/follow and report actions) -->
        <div>
          <button mat-icon-button matTooltip="Options" matTooltipClass="tooltip" matTooltipPosition="above"
            [matMenuTriggerFor]="menu">
            <mat-icon class="icon dark:text-whitesmoke">more_horiz</mat-icon>
          </button>

          <mat-menu class="w-[18rem] py-1 px-2" #menu="matMenu">
            <div class="border border-gray-100 rounded-sm">
              <div class="w-full min-h-[24px] py-1" mat-menu-item>
                <div class="flex flex-col p-0 m-0 items-start text-xs dark:text-whitesmoke">
                  <span class="text-[0.65rem]">Post Date: </span>
                  <span>{{post.createTime | date : 'medium'}}</span>
                </div>
              </div>
              <div class="w-full h-6" mat-menu-item *ngIf="post.editTime">
                <div class="flex flex-col p-0 m-0 items-start text-xs dark:text-whitesmoke">
                  <span class="text-[0.65rem]">Last Edit: </span>
                  <span>{{post.editTime | date : 'medium'}}</span>
                </div>
              </div>

              <hr />
              <app-follow viewTemplate="textView" [followIdentity]="{
                  loggedInUserId: 'this should be the logged in user id - may not be required',
                  ownerUserId: post.id,
                  ownerUsername: post.username}"></app-follow>

              <ng-container *ngIf="canEditPost(post)">
                <hr />
                <button mat-menu-item class="min-h-[32px]" (click)="openEditPostModal(post)">
                  <span class="text-xs text-slate-900 dark:text-slate-100">Edit</span>
                </button>
              </ng-container>

              <ng-container *ngIf="this.post.username === this.getUsername()">
                <app-delete-post class="min-h-[32px]" [post]="this.post"></app-delete-post>
              </ng-container>

              <hr />
              <button mat-menu-item class="min-h-[32px]">
                <span (click)="reportPost(post.id)" class="text-xs text-red-600">Report</span>
              </button>
            </div>
          </mat-menu>
        </div>
      </div>
    </mat-card-header>

    <!-- Media types -->
    <div *ngIf="post.mediaType">
      <img class="w-full" mat-card-image src="{{post.s3Url}}" *ngIf="post.mediaType.split('/')[0] == 'image'">
      <video *ngIf="post.mediaType.split('/')[0] == 'video'" controls>
        <source [src]="post.s3Url" type="video/mp4">
        <source [src]="post.s3Url" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
    <mat-card-content>
      <p class="!mt-3" *ngIf="post.message">
        {{post.message}}
      </p>
    </mat-card-content>

    <!-- Tags -->
    <mat-card-footer>
      <ul class="m-4 flex gap-2 flex-wrap">
        <li class="cursor-pointer" *ngFor="let tag of post.tags" (click)="navigateToTag(tag.id)">
          #{{tag.name}}
        </li>
        <li class="cursor-pointer" *ngFor="let mention of mentions" (click)="navigateToUser(mention)">
          @{{mention}}
        </li>
      </ul>
    </mat-card-footer>

    <!-- Actions (like, dislike, share post, bookmark and open chat) -->
    <mat-card-actions class="flex justify-between items-center">

      <div class="flex gap-4 items-center">
        Likes: {{post.upVotes}}
        <mat-icon class="icon dark:text-whitesmoke" matTooltip="Like" matTooltipClass="tooltip"
          matTooltipPosition="above" [ngClass]="{ 'disabled': !thumbsUpEnabled }"
          (click)="likePost(post.id)">thumb_up</mat-icon>
        Dislikes: {{post.downVotes}}
        <mat-icon class="icon dark:text-whitesmoke" matTooltip="Dislike" matTooltipClass="tooltip"
          matTooltipPosition="above" [ngClass]="{ 'disabled': !thumbsDownEnabled }"
          (click)="dislikePost(post.id)">thumb_down</mat-icon>
      </div>

      <!--  div group for bookmark, share and chat icons  -->
      <div class="flex items-center justify-end gap-4 pr-4">

        <!-- for bookmark post  -->
        <mat-icon class="icon dark:text-whitesmoke" matTooltip="Bookmark" matTooltipClass="tooltip" matTooltipPosition="above"
          [ngClass]="{'disabled': loading}" *ngIf="!bookmarked"
          (click)="bookmarkPost(post.id)">bookmark_border</mat-icon>


        <mat-icon class="icon dark:text-whitesmoke" matTooltip="Remove Bookmark" matTooltipClass="tooltip" matTooltipPosition="above"
          [ngClass]="{'disabled': loading}" *ngIf="bookmarked" (click)="removeBookmark(post.id)">bookmark</mat-icon>

        <!-- for share post link -->
        <button mat-button [matMenuTriggerFor]="sharePostMenu" matTooltipPosition="below" matTooltip="Share"
          matTooltipClass="tooltip">
          <mat-icon class="icon dark:text-whitesmoke" color="primary">share</mat-icon>
        </button>
        <mat-menu class="w-full px-2 bg-amber-50 dark:text-whitesmoke dark:bg-googleGray" #sharePostMenu="matMenu">
          <label class="text-xs">Share Link:</label>
          <hr />
          <label class="text-xs">{{shareURL}}</label>
          <hr />
          <div class="flex justify-end">
            <button class="px-6 my-0 py-0 text-xs uppercase" color="primary" mat-flat-button
              [cdkCopyToClipboard]="shareURL">Copy</button>
          </div>
        </mat-menu>

        <!-- for chat / comments -->
        <div class="flex items-center gap-1" (click)="toggleChat()">
          <mat-icon class="icon dark:text-whitesmoke scale-75" matTooltip="Comment" matTooltipClass="tooltip"
            matTooltipPosition="above">chat</mat-icon>
          <span class="text-xs font-medium" *ngIf="post.comments">{{commentCountToString(post.comments.length)}}</span>
        </div>
      </div>
    </mat-card-actions>

    <!-- Chat -->
    <div *ngIf="isChatOpen">
      <mat-divider></mat-divider>

      <div class="py-4 px-2">
        <!-- Comment form -->
        <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()">
          <div *ngIf="!isGifComponentOpen">
            <!-- Comment entity-->
            <div class="flex flex-col p-3 border-solid border-[1px] border-slate-700 rounded-xl
                dark:border-gray-500 dark:focus-within:bg-neutral-700">
              <!-- Message -->
              <textarea
                class="flex-grow p-0 text-slate-950 bg-transparent outline-none border-none placeholder:text-slate-950/60 focus-within:placeholder:text-slate-950/30 focus:border-transparent focus:shadow-none
                dark:text-whitesmoke dark:placeholder:text-whitesmoke dark:group-focus-within:placeholder:text-gray-600"
                rows="1" pInputTextarea [autoResize]="true" maxlength="2000" placeholder="Make your comment"
                formControlName="comment"></textarea>
              <!-- Gif preview -->
              <div class="relative mt-5 rounded-md overflow-hidden" *ngIf="chosenGif">
                <div
                  class="flex justify-center items-center absolute top-2 right-2 p-2 bg-slate-950/50 text-white rounded-full cursor-pointer transition-all ease-in-out duration-300 hover:bg-slate-950/70"
                  (click)="removeGif()">
                  <mat-icon>close</mat-icon>
                </div>
                <div class="rounded-md overflow-hidden">
                  <img class="w-full" [src]="chosenGif" alt="Gif image">
                </div>
              </div>
            </div>


            <!-- Comment action options -->
            <div class="flex justify-between pt-1">
              <div class="flex gap-1">
                <div
                  class="flex justify-center items-center p-1 rounded-full cursor-pointer transition-all ease-in-out duration-300 hover:bg-slate-950/20"
                  (click)="toggleGifComponent()">
                  <mat-icon class="scale-[0.80]">gif</mat-icon>
                </div>
                <div
                  class="flex justify-center items-center p-1 rounded-full cursor-pointer transition-all ease-in-out duration-300 hover:bg-slate-950/20"
                  (click)="op.toggle($event)">
                  <mat-icon class="scale-[0.80]">tag_faces</mat-icon>
                </div>
              </div>
              <button
                class="py-2 px-3 bg-emerald-600 text-white rounded-md ease-in-out transition-all duration-300 cursor-pointer hover:bg-emerald-800
                        dark:bg-materialPink dark:hover:bg-pink-200"
                type="submit" [ngClass]="{'bg-emerald-600/60 pointer-events-none': commentForm.invalid}"
                [disabled]="commentForm.invalid">Reply</button>
            </div>
          </div>

          <!-- Gif component -->
          <div *ngIf="isGifComponentOpen">
            <app-gif (gifChosenEvent)="addGif($event)" (closeGifComponentEvent)="toggleGifComponent()"></app-gif>
          </div>

          <!-- Emoji mart -->
          <p-overlayPanel #op styleClass="[&_.p-overlaypanel-content]:p-0">
            <emoji-mart title="Pick your emoji" set="facebook" [showPreview]="true" [emojiTooltip]="true"
              (emojiClick)="addEmoji($event.emoji.native)"></emoji-mart>
          </p-overlayPanel>
        </form>
      </div>

      <!-- No comments response -->
      <div class="flex flex-col justify-center items-center gap-5 h-[300px]"
        *ngIf="!post.comments || (post.comments && post.comments.length == 0)">
        <mat-icon class="text-slate-700 scale-[1.7] dark:text-whitesmoke">chat</mat-icon>
        <p class="font-medium text-lg dark:text-whitesmoke">Be the first to comment!</p>
      </div>

      <!-- Displays comments -->
      <!-- class="max-h-[400px] overflow-auto -->
      <div [ngClass]="disableCommentMaxHeight ? '' : 'max-h-[400px] overflow-auto'">
        <ul class="flex flex-col p-4 gap-3" *ngIf="post.comments && post.comments.length > 0">
          <li class="flex gap-3" *ngFor="let comment of post.comments">
            <div mat-card-avatar class="m-0 bg-cover cursor-pointer"
              style="background-image: url({{comment.profileImg}});" (click)="navigateToUser(comment.userId)">
            </div>
            <div class="flex flex-col gap-2 p-2 border-[1px] border-solid border-slate-700 rounded-lg
                dark:border-gray-500">
              <p class="m-0 font-semibold cursor-pointer" (click)="navigateToUser(comment.userId)">{{comment.username}}
              </p>
              <p class="m-0">{{comment.comment}}</p>
              <div class="rounded-md overflow-hidden">
                <img class="w-full" [src]="comment.gifUrl" alt="Gif image" *ngIf="comment.gifUrl">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </mat-card>
</div>
