<mat-tab-group animationDuration="0ms" (selectedTabChange)="activateTab($event)">
  <!-- Main feed -->
  <mat-tab label="Feed">
    <mat-divider class="mb-5"></mat-divider>

    <!-- Feed posts component -->
    <app-feed-posts *ngIf="activeTab == 'default'"></app-feed-posts>
  </mat-tab>

  <!-- Following -->
  <mat-tab label="Following">
    <mat-divider class="mb-5"></mat-divider>

    <!-- Following posts component-->
    <app-following-posts *ngIf="activeTab == 'Following'"></app-following-posts>
  </mat-tab>

  <!-- Trending -->
  <mat-tab label="Trending">
    <mat-divider class="mb-5"></mat-divider>

    <!-- Trending posts component -->
    <app-trending-posts *ngIf="activeTab == 'Trending'"></app-trending-posts>
  </mat-tab>
</mat-tab-group>