<mat-tab-group class="flex flex-col flex-grow" animationDuration="0ms" (selectedTabChange)="activateTab($event)">

  <!-- Main page display -->
  <div *ngIf="!userId">
    <!-- Main feed -->
    <mat-tab label="Feed">
      <mat-divider class="mb-5"></mat-divider>
      <app-feed-posts *ngIf="activeTab == 'default'"></app-feed-posts>
    </mat-tab>

    <!-- Following -->
    <mat-tab label="Following">
      <mat-divider class="mb-5"></mat-divider>
      <app-following-posts *ngIf="activeTab == 'Following'"></app-following-posts>
    </mat-tab>

    <!-- Trending -->
    <mat-tab label="Trending">
      <mat-divider class="mb-5"></mat-divider>
      <app-trending-posts *ngIf="activeTab == 'Trending'"></app-trending-posts>
    </mat-tab>
  </div>

  <!-- Profile page display (logged in user) -->
  <div *ngIf="userId && userId == loggedInUserId">
    <!-- User -->
    <mat-tab label="Posts">
      <mat-divider class="mb-5"></mat-divider>
      <app-posts-by-user [userId]="userId" *ngIf="activeTab == 'default'"></app-posts-by-user>
    </mat-tab>

    <!-- Following -->
    <mat-tab label="Following">
      <mat-divider class="mb-5"></mat-divider>
      <app-following-posts *ngIf="activeTab == 'Following'"></app-following-posts>
    </mat-tab>

    <!-- Bookmarked -->
    <mat-tab label="Bookmarked">
      <mat-divider class="mb-5"></mat-divider>
      <app-bookmarked-posts *ngIf="activeTab == 'Bookmarked'"></app-bookmarked-posts>
    </mat-tab>
  </div>

  <!-- Profile page display (other users) -->
  <div *ngIf="userId && userId != loggedInUserId">
    <!-- User -->
    <mat-tab [disabled]="true" label="Posts">
      <mat-divider class="mb-5"></mat-divider>
      <app-posts-by-user [userId]="userId" *ngIf="activeTab == 'default'"></app-posts-by-user>
    </mat-tab>
  </div>

</mat-tab-group>