<!-- display notifications using absolute positioning with z-index-->

<ng-container *ngFor="let notification of notifications; index as idx">

  <!-- when notification type matches the active-icon, then display the messages -->
  <ul *ngIf="notification.type == activeNotificationType" 
    class="message-wrap">

    <li (click)="updateNotificationAsRead(notification)" 
      class="message-content">

      <mat-icon class="message-icon">{{notification.type}}</mat-icon> 
      <span class="message-text" >{{ notification.message }} </span>

    </li>

  </ul>

</ng-container>