
<div class="flex flex-col items-center mb-40 bg-gray-100">
  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="bg-white m-10 flex flex-col gap-7 p-10  shadow-2xl  rounded-lg" style="width: 25%" >

    <h1 class="flex flex-col items-center text-indigo-500" style="font-weight: bold; font-size: 36px; letter-spacing: 2px"> Login To Fumblr </h1>

    <!--Field for username-->
      <mat-form-field class="flex flex-col items-center px-10 " >
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username" >
        <mat-error class="text-red-600" *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
          Username is required
        </mat-error>
      </mat-form-field>

        <!--Field for password-->
      <mat-form-field class="flex flex-col items-center px-10">
        <mat-label class="">Password</mat-label>
        <input  placeholder="Password" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error class="text-red-600" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          Password is required
        </mat-error>
      </mat-form-field>

    <!--button is only clickable when form is valid-->
    <ng-container *ngIf="loginForm.invalid">
      <button class="custom-button" mat-raised-button disabled>Log In</button>
    </ng-container>
    <ng-container *ngIf="loginForm.valid" >
      <button class="custom-button" mat-raised-button color="primary">Log In</button>
    </ng-container>

    <div class="flex justify-center text-indigo-500 "  style="font-weight: bold; font-size: 17px;">
      <a routerLink="/registration">New user?</a>
      <!--link to registration-->
    </div>
  </form>

</div>

