<div class="flex flex-col items-center mb-40 bg-gray-100">
    <form (ngSubmit)="handleSubmit()" [formGroup]="registrationForm">
      <h1 class="flex flex-col items-center text-indigo-500" style="font-weight: bold; font-size: 36px; letter-spacing: 2px">Register To Fumblr</h1>
  
      <div class="flex flex-col items-center px-10">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
          <mat-error *ngIf="registrationForm.get('username')?.hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="flex flex-col items-center px-10">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required>
          <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="flex flex-col items-center px-10">
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" required>
          <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('required')">
            Password Mismatch
          </mat-error>
          <mat-error *ngIf="registrationForm.hasError('passwordMismatch')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="flex justify-center mt-6">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>

      <div class="flex justify-center text-indigo-500 mt-4"  style="font-weight: bold; font-size: 17px;">
        <a routerLink="/login">Sign In</a>
        <!--link to registration-->
      </div>
    </form>
  </div>
  
  


<!-- <div class="flex flex-col items-center mb-40 bg-gray-100">
    <form (ngSubmit)="handleSubmit()" [formGroup]="registrationForm">
        <h1 class="flex flex-col items-center text-indigo-500 font-bold text-4xl"> Register To Fumblr </h1>
        <mat-form-field class="flex flex-col items-center px-10 ">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="registrationForm.get('username')?.hasError('required')">
              Username is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="flex flex-col items-center px-10">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
              Password is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="flex flex-col items-center px-10">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" type="password" required>
            <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('required')">
              Confirm Password is required
            </mat-error>
            <mat-error *ngIf="registrationForm.hasError('passwordMismatch')">
              Passwords do not match
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>

</div> -->
