.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-grow-row1 {
  flex-grow: 3; /* Adjust the value as needed */
}

.flex-grow-row2 {
  flex-grow: 1; /* Adjust the value as needed */
}
.custom-button {
  height: 50px;
  width: 150px;
  font-size: medium;
  font-weight: bolder;
  margin-left: 40px;
  margin-right: 40px;
}
@media (max-width: 768px) {
  .flex-row {
    flex-direction: column;
  }

  .flex-grow-row1,
  .flex-grow-row2 {
    flex-grow: 1; /* Equal size for both rows */
  }
}
