
.custom-button {
  height: 50px;
  width: 150px;
  font-size: medium;
  font-weight: bolder;
  margin-left: 40px;
  margin-right: 40px;
}
@media (max-width: 768px) {
  .flex-row {
    flex-direction: column;
  }


}
