

<!-- implementation notes :: wrap with a container to obtain the desired width  -->
<!-- e.g. <div class="relative w-2/3"> -->

  <ng-container *ngIf="notifications$ | async as notifications">

    <div class="flex w-full items-start justify-between">

      <app-notification *ngFor="let notificationType of notificationTypes$ | async; index as idx"
          [icon]=notificationType.matIconName
          [badgeContent]="getUnreadCount(notifications, notificationType.matIconName)"
          [badgeColor]=badgeColor 
          [badgeSize]=badgeSize
          [panelOpenState]="panelOpenState"
          (click)="getUnreadCount(notifications, notificationType.matIconName) > 0 ? toggleNotification(idx, notificationType.matIconName, notifications) : null">
          <!-- need a better implementation method -->

          <!-- option 1: display messages using ng-content projection -->
          <!-- <div *ngIf="idx == panelId && panelOpenState" class="absolute w-[700%] z-10 border">
            <mat-list *ngFor="let notification of notifications$ | async; index as i">
          
              <mat-list-item > 
                <mat-icon>message</mat-icon> 
                <span class="text-xs">{{ notification.message }} </span>
              </mat-list-item>
          
            </mat-list>
          </div> -->

      </app-notification>
    </div>

    <app-notification-message *ngIf="panelOpenState && notifications"
      [notifications]=notifications
      [activeIcon]="activeIcon">
    </app-notification-message>

  </ng-container>
  
<!-- </div> -->