.wrapper {
  @apply fixed top-[5.25rem] right-4 max-w-full w-[400px] z-50;
}

.icon-menu {
  @apply px-2;
}

.notification-container {
  @apply flex flex-row-reverse;
}

.icon-container {
  @apply flex flex-col h-[364px] px-1 py-4 justify-between shadow-md rounded-sm cursor-pointer bg-white border-gray-300 border;
}

.icon-container-animate {
  transition: all 500ms;
}

.icon-animate:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}