.wrapper {
  @apply fixed top-[5.25rem] right-2 max-w-full w-[400px] z-50;
}

.icon-menu {
  @apply fixed top-[2rem] right-5;
}

.notification-container {
  @apply flex flex-row-reverse;
}

.icon-container {
  @apply flex flex-col h-96 px-1 py-4 justify-between ;
}

/*  bg-[#f5f6fa] shadow-md */

.icon-container-bg  {
  /* background: rgba(5, 5, 5, 0.5); */
  /* background: rgba(142, 154, 255, 0.1); */
  background: rgba(219, 219, 219, 0.1);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20.5px);
  -webkit-backdrop-filter: blur(20.5px);
  border: 1px solid rgba(38, 37, 37, 0.17);
}

.icon-animate:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}