<!-- implementation notes :: this is fixed position with a fixed size.
modify or move this wrapper tag to correct position according to layout requirements  -->

<!-- for header icon notification menu  -->
<div *ngIf="notifications" [ngClass]="notifications ? 'icon-menu icon-animate' : 'icon-menu'">
  <mat-icon (click)="expandNotificationMenu()" class="scale-[1.65]">
    notifications_active
  </mat-icon>  
  <div  
    [matBadge]="totalUnread"
    [matBadgeColor]="badgeColor"
    [matBadgeSize]="badgeSize"
    [matBadgeHidden]="totalUnread == 0"
    [matBadgePosition]="'above after'"
    class=" z-50 shadow-md"></div>
</div>
<!-- class="absolute -right-1 -top-1 z-50 shadow-md"></div> -->

<!-- menu can open only when there are notifications -->
<div *ngIf="menuIsOpen && totalUnread > 0" class="wrapper">

  <div class="notification-container">
    <!-- vertical mat icon container -->
    <div class="icon-container icon-container-bg">

      <app-notification-type *ngFor="let notificationType of notificationTypes; index as iconIdx"
        [matIcon]="notificationType.matIconName"
        [badgeContent]="getUnreadCount(notificationType.originName, notifications)"
        [badgeColor]=badgeColor 
        [badgeSize]=badgeSize
        [activeNotificationType]="activeNotificationType"
        (click)="toggleNotification(iconIdx, notificationType.originName)" >
      </app-notification-type>

    </div>

    <!-- notification should be greater then zero -->
    <app-notification-message 
      *ngIf="panelIsOpen && totalUnread > 0"
      (totalUnreadChange)="decrementTotalUnread()"
      [notifications]="notifications"
      [activeNotificationType]="activeNotificationType">
    </app-notification-message>

  </div>

</div>